/* font style */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-text {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.raleway-text {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* share style */
.text-color {
    color: rgba(78, 71, 255, 1);
}
.text-color-2{
    color: #252432;
}
.btn-primary {
    background-color: rgba(78, 71, 255, 1);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 36px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
}
/* head style */
.header {
    background-image: url('../Assets/Hero-bg.png');
    background-position: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    padding:  50px 0;
    align-items: center;
    
}
nav h3 {
    font-size: 34px;
    font-weight: 900;
}
nav ul li {
    list-style: none;
}
.banner {
    text-align: center;
    padding: 250px 260px 100px 260px;
    
}
/* main style */
main {
    max-width: 1440px;
    margin: 0 auto;
}
main section{
     margin-top: 130px;
     margin-bottom: 130px;
}
.action{
    display: flex;
    justify-content: space-between;
    padding: 0 62px 0 62px;
    align-items: center;
}
.action-scene{
    
}
.action-title{}
.pic {
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
/* 2nd section */
.productive {
    padding: 50px 140px;
    background-color: #deddf7;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
}
.productive-title {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}
.productive-sub{
    /* padding: 50px 140px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.productive-subtitle {
    font-size: 80px;
    font-weight: bold;
    
}
.productive-subtitle-descrip{

}

